{%load static%}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{%static 'styles/bootstrap/bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {
              /* The image used */
              background-image: url('{% static 'images/login.jpg' %}');

              /* Full height */
              height: 100%;

              /* Center and scale the image nicely */
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
            }
    </style>

    <title>Login Page</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="#">CP lover</a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{%url 'home'%}">Home</a>
            <a class="nav-item nav-link active" href="{% url 'accounts:signup'%}">SignUp</a>
        </div>
      </div>
    </nav>
    <div class="container my-5" id="form_container">
        <div class="row ">
            <div class="col-sm"></div>
            <div class="col-sm-8">
                <form method="post" action="{% url 'accounts:login' %}" class="d-flex-row justify-content-center ">
                    {%csrf_token%}
                    {{form|crispy}}
                    <input type="submit" class="btn btn-primary" value="LogIn">
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-8">
                <a href="{%url 'accounts:signup'%}">Not a User? Sign Up</a>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
</body>
</html>