{% extends 'accounts/basic.html' %}

<!-- loaded static -->
{% load static %}

<!-- loding crisp forms -->
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}

{% block css %}

<style>
    #form_container{
        margin-top: 50px;
    }

    #form{
        border: 2px solid aliceblue;
        border-radius: 10px;
        background-color: aliceblue;
        padding: 20px;
    }
</style>

{% endblock %}

{% block body%}
<div class="container " id="form_container">
    <div>
        <h3 class="text-center" style="color: rgb(120, 209, 231); margin-bottom: 50px;">Already Have An Account <a href="/accounts/login/">Login</a></h3>
    </div>
    <div class="row ">
        <div class="col-sm"></div>
        <div class="col-sm-8" id="form">
            <form method="post" action="{% url 'accounts:signup' %}" class="d-flex-row justify-content-center text-black">
                {%csrf_token%}
                {{profile_form|crispy}}
                {{user_form|crispy}}
                <input type="submit" class="btn btn-primary" value="SignUp">
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}