{% extends 'the_code_provider/basic.html' %}

<!-- loaded static -->
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block css %}{% endblock %}

{% block body%}
<h3 class="text-center" style="color: rgb(94, 138, 219); margin: 50px 0;">WEBSITES WITH US</h3>

<div class="card-deck">
    <div class="col-md-3 my-5">
        <div class="card" style="border: none;">
            <a href="javascript:void(0);"><img src="{% static 'images/codeforces.png' %}" class="card-img-top" alt="..."
                    style="height: 16rem"></a>
        </div>
    </div>
    <div class="col-md-3 my-5">
        <div class="card" style="border: none;">
            <a href="javascript:void(0);"><img src="{% static 'images/leetcode.png' %}" class="card-img-top" alt="..."
                    style="height: 16rem"></a>
        </div>
    </div>
    <div class="col-md-3 my-5">
        <div class="card" style="border: none;">
            <a href="javascript:void(0);"><img src="{% static 'images/codechef.png' %}" class="card-img-top" alt="..."
                    style="height: 16rem"></a>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}