{% extends 'editor/basic.html' %}

<!-- loaded static -->
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block css %}
<style>
  #editor {
    top: 20px;
    left: 0px;
    height: 35rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block body%}
<div id="editor" class="mb-4"></div>
<button type="button" class="btn btn-lg" style="background-color: rgba(6, 83, 146, 0.555); color: white;" id="submit">Submit</button>
{% endblock %}

{% block script %}
<script src="{% static 'js/editor/ace.js' %}"></script>
<script src="{% static 'js/editor/ext-language_tools.js' %}"></script>
<script>
  $(document).ready(function () {

    var editor = ace.edit("editor");
    editor.setReadOnly(false);
    editor.autoIndent(false);
    editor.setTheme("ace/theme/dracula");
    const nmode = "ace/mode/c_cpp";
    editor.session.setMode(nmode);


    // submission of code to the server using ajax request
    $('#submit').click(function (event) {

      // got code from the editor
      let code = document.getElementById("editor").innerText;
      console.log(code)

      // variable to make ajax request
      var request;

      // prevents the default behaviour of submitting the form
      event.preventDefault();

      // Abort any pending request
      if (request) {
        request.abort();
      }

      // Fire off the request to /search
      var token = '{{csrf_token}}';

      request = $.ajax({
        headers: { "X-CSRFToken": token },
        url: "/code_editor/submit/",
        type: "post",
        data : {
          "code": code,
          "file_name": "udit.c",
        },
      });

      // Callback handler that will be called on success
      request.done(function (response, textStatus, jqXHR) {
        // rendering another page
        $("html").html(response)
      });

      // Callback handler that will be called on failure
      request.fail(function (jqXHR, textStatus, errorThrown) {
        // Log the error to the console
        console.error(
          "The following error occurred: " +
          textStatus, errorThrown
        );
      });

      // Callback handler that will be called regardless
      // if the request failed or succeeded
      request.always(function () {
        // Reenable the inputs
        $("#search_query").prop("disabled", false);
      });
    })
  })
</script>
{% endblock %}