{% extends 'editor/basic.html' %}

<!-- loaded static -->
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block css %}
<style>
  #editor {
    top: 20px;
    left: 0px;
    height: 35rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block body%}

<div id="show_ques" style="margin: 50px 0; border: 2px solid aliceblue; padding: 20px; border-radius: 10px; background-color: aliceblue; display: none;">

  <!-- question heading -->
  <h3 id="title" class="text-center"></h3>

  <!-- question statement -->
  <blockquote class="blockquote text-center">
    <p class="mt-5" id="statement"></p>
  </blockquote>

  <!-- input constraints -->
  <p class="h5 mt-5">INPUT</p>
  <p class="lead mb-5" id="input_const"></p>

  <!-- output constraints -->
  <p class="h5">OUTPUT</p>
  <p class="lead mb-5" id="output"></p>
  
  <!-- examples -->
  <p class="lead mb-5" id="examples"></p>
  
  <!-- notes -->
  <p class="h5">Notes</p>
  <p class="lead mb-5" id="notes"></p>
</div>

<div id="editor" class="mb-4"></div>
<button type="button" class="btn btn-lg" style="background-color: rgba(6, 83, 146, 0.555); color: white;"
  id="submit">Submit</button>
{% endblock %}

{% block script %}
<!-- <script async="" src="https://assets.codeforces.com/mathjax/MathJax.js?config=TeX-AMS_HTML-full" type="text/javascript"></script> -->
<script src="{% static 'js/editor/ace.js' %}"></script>
<script src="{% static 'js/editor/ext-language_tools.js' %}"></script>
<script>
  $(document).ready(function () {

    let math_not_loaded = 0;

    var editor = ace.edit("editor");
    editor.setReadOnly(false);
    editor.autoIndent(false);
    editor.setTheme("ace/theme/dracula");
    const nmode = "ace/mode/c_cpp";
    editor.session.setMode(nmode);


    // submission of code to the server using ajax request
    $('#submit').click(function (event) {

      // got code from the editor
      let code = document.getElementById("editor").innerText;

      // variable to make ajax request
      var request;

      // Abort any pending request
      if (request) {
        request.abort();
      }

      // got csrf token
      var token = '{{csrf_token}}';

      request = $.ajax({
        headers: {
          "X-CSRFToken": token
        },
        url: "/code_editor/submit/",
        type: "post",
        data: {
          "code": code,
          "file_name": "udit.c",
        },
      });

      // Callback handler that will be called on success
      request.done(function (response, textStatus, jqXHR) {
        // rendering another page
        $("html").html(response)
      });

      // Callback handler that will be called on failure
      request.fail(function (jqXHR, textStatus, errorThrown) {
        // Log the error to the console
        console.error(
          "The following error occurred: " +
          textStatus, errorThrown
        );
      });

      // Callback handler that will be called regardless
      // if the request failed or succeeded
      request.always(function () {
        // Reenable the inputs
        $("#search_query").prop("disabled", false);
      });
    })
  })

  // searching an url of codeforces etc.
  $('#search').keydown(function (event) {

    if (event.keyCode === 13) {

      // preventing the default behaviuor of the object
      event.preventDefault();

      // got csrf token
      var token = '{{csrf_token}}';

      // getting url from the searhing panel
      const url = $(this).val();

      // variable to make ajax request
      var request;

      request = $.ajax({
        headers: {
          "X-CSRFToken": token
        },
        url: "/code_editor/fetch_question/",
        type: "post",
        data: {
          "url": url,
        },
      });

      // Callback handler that will be called on success
      request.done(function (response, textStatus, jqXHR) {
        // rendering another page
        response = JSON.parse(response)

        // make display of #show_ques block
        document.getElementById('show_ques').style.display = "block"

        // checking if any variabkle is empty


        if (response['title'] != "") {
          $("#title").html(response['title'])
        } else {
          $("#title").html("No Title")

        }


        if (response['statement'] != "") {
          $("#statement").html(response['statement'])
        } else {
          $("#statement").html("No Statement Provided")
        }


        if (response['input_const'] != "") {
          $("#input_const").html(response['input_const'])
        } else {
          $("#input_const").html("No Input Constraints")
        }


        if (response['output'] != "") {
          $("#output").html(response['output'])
        } else {
          $("#output").html("No Output Statement Provided")
        }


        if (response['examples'] != "") {
          $("#examples").html(response['examples'])
        } else {
          $("#examples").html("No Examples Provided")
        }


        if (response['notes'] != "") {
          $("#notes").html(response['notes'])
        } else {
          $("#notes").html("No Notes Given")
        }
        load_math();
      });

      // Callback handler that will be called on failure
      request.fail(function (jqXHR, textStatus, errorThrown) {
        // Log the error to the console
        console.error(
          "The following error occurred: " +
          textStatus, errorThrown
        );
      });
    }

    // loading the math script
    function load_math() {
      src = 'https://assets.codeforces.com/mathjax/MathJax.js?config=TeX-AMS_HTML-full';
      $('script[src="' + src + '"]').remove();
      $('<script>').attr('src', src).appendTo('head');
    }
  })
</script>
{% endblock %}