{% extends 'editor/basic.html' %}

<!-- loaded static -->
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block css %}
<style>
  #editor {
    top: 20px;
    left: 0px;
    height: 35rem;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
</style>
{% endblock %}

{% block body%}

<div id="show_ques"
  style="margin: 50px 0; border: 2px solid aliceblue; padding: 20px; border-radius: 10px; background-color: aliceblue; display: none;">

  <!-- question heading -->
  <h3 id="title" class="text-center"></h3>

  <!-- question statement -->
  <blockquote class="blockquote text-center">
    <p class="mt-5" id="statement"></p>
  </blockquote>

  <!-- input constraints -->
  <p class="h5 mt-5">INPUT</p>
  <p class="lead mb-5" id="input_const"></p>

  <!-- output constraints -->
  <p class="h5">OUTPUT</p>
  <p class="lead mb-5" id="output"></p>

  <!-- examples -->
  <p class="lead mb-5" id="examples"></p>

  <!-- notes -->
  <p class="h5">Notes</p>
  <p class="lead mb-5" id="notes"></p>
</div>

<div class="container">
  <div class="row my-3">

    <div class="alert alert-info col-md-6 text-center" role="alert" style="visibility: hidden;">
      A simple info alert—check it out!
    </div>

    <div class="col-md-6 row">

      <div class="col-md-8"></div>

      <div class="col-md-2">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle text-white"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              c
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="javascript:void(0);" lang="c_cpp">c</a>
              <a class="dropdown-item" href="javascript:void(0);" lang="c_cpp">cpp</a>
              <a class="dropdown-item" href="javascript:void(0);" lang="python">python</a>
              <a class="dropdown-item" href="javascript:void(0);" lang="java">java</a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-2">
        <fieldset class="form-group" style="display: inline-block;">
          <div class="row">
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="me" checked>
                <label class="form-check-label" for="gridRadios1">
                  Me
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="private">
                <label class="form-check-label" for="gridRadios2">
                  Private
                </label>
              </div>
              <div class="form-check disabled">
                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="public">
                <label class="form-check-label" for="gridRadios3">
                  Public
                </label>
              </div>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</div>

<div id="editor" class="mb-4"></div>
{%if not user.is_authenticated%}
<button type="button" class="btn btn-lg btn-primary" style="color: white;" id="share">Share</button>
{%else%}
<button type="button" class="btn btn-lg btn-primary" style="color: white;" id="submit">Upload</button>
{%endif%}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#warnmodal" id="warnmodalbtn"
  style="display: none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="warnmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Please Write Some Code</h4>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#successuploadmodal" id="successupload"
  style="display: none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="successuploadmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLabel">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Your Code has Been Submitted Successfully</h4>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<!-- <script async="" src="https://assets.codeforces.com/mathjax/MathJax.js?config=TeX-AMS_HTML-full" type="text/javascript"></script> -->
<script src="{% static 'js/editor/ace.js' %}"></script>
<script src="{% static 'js/editor/ext-language_tools.js' %}"></script>
<script>
  var editor = ace.edit("editor");
  $(document).ready(function () {

    window.preference = "me";

    editor.setReadOnly(false);
    editor.autoIndent(false);
    editor.setTheme("ace/theme/dracula");
    let nmode = "ace/mode/c_cpp";
    editor.session.setMode(nmode);
    editor.session.setMode(nmode);


    // submission of code to the server using ajax request
    $('#share').click(function (event) {

      // got code from the editor
      let code = editor.getSession().getValue();

      if (code == "") {
        $("#warnmodalbtn").click();
      } else {
        // variable to make ajax request
        var request;

        // Abort any pending request
        if (request) {
          request.abort();
        }

        // got csrf token
        var token = '{{csrf_token}}';

        $(this).html(`<div class="spinner-border text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>`)
        $(this).prop('disabled', true);

        request = $.ajax({
          headers: {
            "X-CSRFToken": token
          },
          url: "/code_editor/share/",
          type: "post",
          data: {
            "code": code,
            "language": $("#btnGroupDrop1").html(),
          },
        });

        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR) {
          localStorage.setItem("id", JSON.parse(response)['file_name'])
          // rendering another page
          $("#successupload").click();
        });

        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown) {
          // Log the error to the console
          console.error(
            "The following error occurred: " +
            textStatus, errorThrown
          );
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
          // Reenable the inputs
          $("#share").html("Share");
          $("#share").prop('disabled', false);
          $('.alert').css("visibility", "visible")
          $('.alert').html(document.location.host + "/shared/?id=" + localStorage.getItem("id") + "<br>share this link with your friends to let them see your code")
        });
      }
    })
  })

  $('#submit').click(function (event) {

    // got code from the editor
    let code = editor.getSession().getValue();

    if (code == "") {
      $("#warnmodalbtn").click();
    } else {
      // variable to make ajax request
      var request;

      // Abort any pending request
      if (request) {
        request.abort();
      }

      // got csrf token
      var token = '{{csrf_token}}';

      $(this).html(`<div class="spinner-border text-light" role="status">
  <span class="sr-only">Loading...</span>
</div>`)
      $(this).prop('disabled', true);

      request = $.ajax({
        headers: {
          "X-CSRFToken": token
        },
        url: "/code_editor/submit/",
        type: "post",
        data: {
          "username": "{{user.username}}",
          "code": code,
          "file_name": "question.c",
          "website": "codeforces",
          "filter": window.preference,
          "language": $("#btnGroupDrop1").html(),
        },
      });

      // Callback handler that will be called on success
      request.done(function (response, textStatus, jqXHR) {
        // rendering another page
        $("#successupload").click();
      });

      // Callback handler that will be called on failure
      request.fail(function (jqXHR, textStatus, errorThrown) {
        // Log the error to the console
        console.error(
          "The following error occurred: " +
          textStatus, errorThrown
        );
      });

      // Callback handler that will be called regardless
      // if the request failed or succeeded
      request.always(function () {
        // Reenable the inputs
        $("#submit").html("Upload");
        $("#submit").prop('disabled', false);
      });
    }
  })

  // searching an url of codeforces etc.
  $('#search').keydown(function (event) {

    if (event.keyCode === 13) {

      // preventing the default behaviuor of the object
      event.preventDefault();

      // got csrf token
      var token = '{{csrf_token}}';

      // getting url from the searhing panel
      const url = $(this).val();

      // variable to make ajax request
      var request;

      request = $.ajax({
        headers: {
          "X-CSRFToken": token
        },
        url: "/code_editor/fetch_question/",
        type: "post",
        data: {
          "url": url,
        },
      });

      // Callback handler that will be called on success
      request.done(function (response, textStatus, jqXHR) {
        // rendering another page
        response = JSON.parse(response)

        // make display of #show_ques block
        document.getElementById('show_ques').style.display = "block"

        // checking if any variabkle is empty


        if (response['title'] != "") {
          $("#title").html(response['title'])
        } else {
          $("#title").html("No Title")

        }


        if (response['statement'] != "") {
          $("#statement").html(response['statement'])
        } else {
          $("#statement").html("No Statement Provided")
        }


        if (response['input_const'] != "") {
          $("#input_const").html(response['input_const'])
        } else {
          $("#input_const").html("No Input Constraints")
        }


        if (response['output'] != "") {
          $("#output").html(response['output'])
        } else {
          $("#output").html("No Output Statement Provided")
        }


        if (response['examples'] != "") {
          $("#examples").html(response['examples'])
        } else {
          $("#examples").html("No Examples Provided")
        }


        if (response['notes'] != "") {
          $("#notes").html(response['notes'])
        } else {
          $("#notes").html("No Notes Given")
        }
        load_math();
      });

      // Callback handler that will be called on failure
      request.fail(function (jqXHR, textStatus, errorThrown) {
        // Log the error to the console
        console.error(
          "The following error occurred: " +
          textStatus, errorThrown
        );
      });
    }

    // loading the math script
    function load_math() {
      src = 'https://assets.codeforces.com/mathjax/MathJax.js?config=TeX-AMS_HTML-full';
      $('script[src="' + src + '"]').remove();
      $('<script>').attr('src', src).appendTo('head');
    }

  })

  $(".form-check-input").click(function (event) {
    window.preference = $(this).val()
  })

  $(".dropdown-item").click(function (event) {
    $("#btnGroupDrop1").html($(this).html())
    nmode = "ace/mode/" + $(this).attr('lang');
    editor.session.setMode(nmode);
  })
</script>
{% endblock %}


<!-- i need to work on the language selector for sharing -->
<!-- i have to make css file loaded when new url of the question is Given -->
<!-- i have to make some changes in the model to use the unique id  -->