{% extends 'accounts/basic.html' %}

<!-- loaded static -->
{% load static %}
<!-- loading extra templatetags -->
{%load profile_extra %}
<!-- loading crisp forms -->
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock %}

{% block css %}
<style>
  body {
    background-color: #f1f1f1;
  }

  .people-nearby .google-maps {
    background: #f8f8f8;
    border-radius: 4px;
    border: 1px solid #f1f2f2;
    padding: 20px;
    margin-bottom: 20px;
  }

  .people-nearby .google-maps .map {
    height: 300px;
    width: 100%;
    border: none;
  }

  .people-nearby .nearby-user {
    padding: 20px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    margin-bottom: 20px;
  }

  img.profile-photo-lg {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }

  .border {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 10px;
  }

  .main-section {
    margin-top: 100px;
  }

  .image-section {
    padding: 0px;
  }

  .image-section img {
    width: 100%;
    height: 250px;
    position: relative;
  }

  .user-image {
    position: absolute;
    margin-top: -50px;
  }

  .user-left-part {
    margin: 0px;
  }

  .user-image img {
    width: 100px;
    height: 100px;
  }

  .user-profil-part {
    padding-bottom: 30px;
    background-color: #FAFAFA;
  }

  .follow {
    width: 50%;
    margin-top: 70px;
    font-size: 12px;
    border: 1px solid #DDDDDD;
    background-color: #fff;
    font-weight: 600;
  }

  .user-detail-row {
    margin: 0px;
  }

  .user-detail-section2 p {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
  }

  .user-detail-section2 {
    margin-top: 10px;
  }

  .user-detail-section2 span {
    color: #7CBBC3;
    font-size: 20px;
  }

  .user-detail-section2 small {
    font-size: 12px;
    color: #D3A86A;
  }

  .profile-right-section {
    padding: 20px 0px 10px 15px;
    background-color: #FFFFFF;
  }

  .profile-right-section-row {
    margin: 0px;
  }

  .profile-header-section1 h1 {
    font-size: 25px;
    margin: 0px;
  }

  .profile-header-section1 p {
    color: #878787;
  }

  .req-btn {
    height: 30px;
    font-size: 12px;
  }

  .profile-tag {
    padding: 10px;
    border: 1px solid #F6F6F6;
  }

  .profile-tag p {
    font-size: 12px;
    color: #ADADAD;
  }

  .profile-tag i {
    color: #ADADAD;
    font-size: 20px;
  }

  .image-right-part {
    background-color: #FCFCFC;
    margin: 0px;
    padding: 5px;
  }

  .img-main-rightPart {
    background-color: #FCFCFC;
  }

  .image-right-detail {
    padding: 0px;
  }

  .image-right-detail p {
    font-size: 12px;
  }

  .image-right-detail a:hover {
    text-decoration: none;
  }

  .image-right img {
    width: 100%;
  }

  .image-right-detail-section2 {
    margin: 0px;
  }

  .image-right-detail-section2 p {
    color: #38ACDF;
    margin: 0px;
  }

  .image-right-detail-section2 span {
    color: #7F7F7F;
  }

  a:hover {
    cursor: pointer;
  }
</style>
{% endblock %}

{% block body%}

<body>
  <div class="container main-section">
    <div class="row">
      <div class="row user-left-part">
        <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
          <div class="row ">
            <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
              <img src="{% static 'images/male_avatar.png' %}">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
              {%if profile_user == user %}
              <button type="submit" class="btn btn-defult follow">
                <i class="fa fa-user-o" aria-hidden="true"></i>You
              </button>
              {% elif user not in followers_list %}
              <form method="post" action="{%url 'profiles:follow_user' profile_user.username%}">
                {%csrf_token%}
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <input type="submit" class="btn btn-defult follow" value="Follow">
              </form>
              {%else%}
              <form method="post" action="#">
                {%csrf_token%}
                <i class="fa fa-user-o" aria-hidden="true"></i>
                <input type="submit" class="btn btn-defult follow" value="Following">
              </form>
              {%endif%}
            </div>
            <div class="row user-detail-row">
              <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                <div class="border"></div>
                <p>FOLLOWERS</p>
                <span>{{profile_user.following.count}}</span>
              </div>
              <div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
                <div class="border"></div>
                <p>FOLLOWING</p>
                <span>{{profile_user.followers.count}}</span>
              </div>
              <div class="col-md-12 col-sm-12 user-detail-section2 pull-right">
                <div class="border"></div>
                <p>Friends</p>
                <span>{{friends_count}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
          <div class="row profile-right-section-row">
            <div class="col-md-12 profile-header">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                  <h1>{{profile.name}}</h1>
                  <p>Username: {{profile_user.username}}</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-right">
                  {% is_pending_request_exists user profile_user as pre %}
                  {%if profile_user == user %}
                  <button type="submit" class="btn btn-info req-btn">Your Profile</button>
                  {%elif pre == "True" %}
                  <button type="submit" class="btn btn-info req-btn">Pending Friend Request</button>
                  {%elif user not in friends_list %}
                  <form method="post" action="{%url 'profiles:send_friend_request' profile_user.username%}">
                    {%csrf_token%}
                    <input type="submit" class="btn btn-info req-btn" value="Add Friend">
                  </form>
                  {%elif user in friends_list %}
                  <button type="submit" class="btn btn-info req-btn">Friend</button>
                  {%endif%}
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12  profile-tag-section text-center">
                  <div class="row">

                    <!-- user info button -->
                    <div class="col-md-2 col-sm-2 profile-tag">
                      <a id="#userinfo" class="info_shower">
                        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        <p>Info</p>
                      </a>
                    </div>

                    <!-- friendlist button -->
                    <div class="col-md-2 col-sm-2 profile-tag">
                      <a id="#friendlist" class="info_shower">
                        <i class="fa fa-address-book" aria-hidden="true"></i>
                        <p>Friends List</p>
                      </a>
                    </div>

                    <!-- codes button -->
                    <div class="col-md-2 col-sm-2 profile-tag">
                      <a id="#codes" class="info_shower">
                        <i class="fa fa-code" aria-hidden="true"></i>
                        <p>Codes</p>
                      </a>
                    </div>

                    <!-- inbox button -->
                    {% if user.username == profile_user.username %}
                    <div class="col-md-2 col-sm-2 profile-tag" class="info_shower">
                      <a id="#inbox" class="info_shower"><i class="fa fa-inbox"
                          aria-hidden="true"><sup><b>{{ messages.count }}</b></sup></i>
                        <p>Inbox</p>
                      </a>
                    </div>
                    {% endif %}

                    <!-- friend request button -->
                    {% if user.username == profile_user.username %}
                    <div class="col-md-2 col-sm-2 profile-tag" class="info_shower">
                      <a id="#friendrequest" class="info_shower"><i class="fa fa-address-card-o" aria-hidden="true"></i>
                        <p>Friend Request</p>
                      </a>
                    </div>
                    {% endif %}

                    <!-- resume button -->
                    <div class="col-md-2 col-sm-2 profile-tag" class="info_shower">
                      <a id="#resume" class="info_shower"><i class="fa fa-book" aria-hidden="true"></i>
                        <p>Resume</p>
                      </a>
                    </div>
                  </div>


                  <div class="row" id="display_info">

                    <!-- user info -->
                    <div class="show" id="userinfo">
                      <ul>
                        <li>{{profile.email_id}}</li>
                      </ul>
                    </div>

                    <!-- friend list -->
                    <div class="collapse col-md-12" id="friendlist" style="height: 10rem; overflow-y: scroll;">
                      <div class="row">
                        {%for friend in friends_list%}
                        <div class="col-md-4 col-sm-3">
                          <a href="{%url 'profiles:profile' friend.username%}"><img
                              src="{% static 'images/male_avatar.png' %}" class="profile-photo-lg"></a>
                          <h5 class="text-center text-truncate"><a href="{%url 'profiles:profile' friend.username%}"
                              class="profile-link">{{friend.username}}</a></h5>
                        </div>
                        {%endfor%}
                      </div>
                    </div>

                    <!-- codes -->
                    <div class="collapse col-md-12" id="codes">

                      <div class="row">

                        <!-- me code -->
                        {%if profile_user == user%}
                        <div class="col-md-4">
                          <div class="profile-header-section1">
                            <p> Me codes </p>
                          </div>

                          {%if me_codes.count == 0 %}
                          <ul style="list-style-type: none; overflow-y: scroll; height: 10rem;">
                            <li>No Code Provided</li>
                          </ul>

                          {%else%}
                          <ul style="list-style-type: none; overflow-y: scroll; height: 10rem;">
                            {%for code in me_codes%}
                            <li>
                              <a
                                href="/userCodes/?id={{code.unique_code_id}}&language={{code.language}}&website={{code.website}}">
                                {{code.date}}
                              </a>
                            </li>
                            {%endfor%}
                          </ul>

                          {%endif%}
                        </div>
                        {%endif%}

                        <!-- private code -->
                        {%if profile_user == user%}
                        <div class="col-md-4">
                          {%else%}
                          <div class="col-md-6">
                            {%endif%}
                            <div class="profile-header-section1">
                              <p>Private Codes</p>
                            </div>
                            {%if private_codes.count == 0 %}
                            <ul style="list-style-type: none; overflow-y: scroll; height: 10rem;">
                              <li>No Code Provided</li>
                            </ul>
                            {%else%}
                            <ul style="list-style-type: none; overflow-y: scroll; height: 10rem;">
                              {%for code in private_codes%}
                              <li>
                                <a
                                  href="/userCodes/?id={{code.unique_code_id}}&language={{code.language}}&website={{code.website}}">
                                  {{code.date}}
                                </a>
                              </li>
                              {%endfor%}
                            </ul>
                            {%endif%}
                          </div>

                          <!-- public code -->
                          {%if profile_user == user%}
                          <div class="col-md-4">
                            {% else %}
                            <div class="col-md-6">
                              {% endif %}
                              <div class="profile-header-section1">
                                <p>Public Codes</p>
                              </div>

                              {%if public_codes.count == 0 %}
                              <ul style="list-style-type: none; overflow-y: scroll; height: 10rem;">
                                <li>No Code Provided</li>
                              </ul>

                              {%else%}
                              <ul style="list-style-type: none; overflow-y: scroll; height: 10rem;">
                                {%for code in public_codes%}
                                <li>
                                  <a
                                    href="/userCodes/?id={{code.unique_code_id}}&language={{code.language}}&website={{code.website}}">
                                    {{code.date}}
                                  </a>
                                </li>
                                {%endfor%}
                              </ul>
                              {%endif%}
                            </div>

                          </div>
                        </div>

                        <!-- inbox section -->
                        <div class="collapse col-md-12" id="inbox" style="height: 10rem; overflow-y: scroll;">
                          {%if messages.count == 0 %}
                          <div class="container">
                            <img src="{% static 'icons/empty.svg' %}" alt="" style="height: 8rem;">
                          </div>
                          {% else %}
                          <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">Sender Name</th>
                                <th scope="col">Time</th>
                                <th scope="col">Read</th>
                                <th scope="col">Delete</th>
                              </tr>
                            </thead>

                            <tbody>

                              {% for message in messages %}
                              <tr>
                                <th scope="row">{{ message.send_by }}</th>
                                <td>{{ message.send_time }}</td>
                                <td>
                                  <button type="submit" class="btn btn-info req-btn" data-toggle="modal"
                                    data-target="#modal{{ message.id }}">
                                    Read
                                  </button>
                                </td>
                                <td><button type="button" class="btn btn-danger req-btn delete_messages"
                                    value="{{message.id}}">Delete</button></td>
                              </tr>
                              {% endfor %}

                            </tbody>

                          </table>
                          {% endif %}
                        </div>

                        {% for message in messages %}

                        <div class="modal fade" id="modal{{ message.id }}" data-backdrop="static" data-keyboard="false"
                          tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                {{message.message_text}}
                              </div>
                              <div class="modal-body">
                                Solution URL - <a rel="noreferrer" target="_blank" href="{{message.link}}">Solution</a>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>

                        {% endfor %}

                        <!-- friend request section -->
                        <div class="col-md-12 collapse" id="friendrequest" style="overflow-y: scroll; height: 10rem;">

                          {% if user.username == profile_user.username %}

                          {%if pending_friend_requests.count == 0 %}
                          <div class="container">
                            <img src="{% static 'icons/empty.svg' %}" alt="" style="height: 8rem;">
                          </div>

                          {%else%}
                          <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">Image</th>
                                <th scope="col">Name</th>
                                <th scope="col">Accept</th>
                                <th scope="col">Reject</th>
                              </tr>
                            </thead>

                            <tbody>

                              {%for pending_friend_request in pending_friend_requests%}

                              <tr>
                                <th scope="row"><img src="{% static 'images/male_avatar.png' %}" alt="..."
                                    class="rounded-circle" style="height: 3rem;"></th>
                                <td>{{pending_friend_request.request_by.username}}</td>
                                <td>
                                  <button type="submit" class="btn btn-info req-btn"><a
                                      href="{% url 'profiles:accept_friend_request' pending_friend_request.pk %}"
                                      class="text-white text-decoration-none">
                                      Accept
                                    </a></button>
                                </td>
                                <td>
                                  <button type="submit" class="btn btn-danger req-btn"><a
                                      href="{% url 'profiles:accept_friend_request' pending_friend_request.pk %}"
                                      class="text-white text-decoration-none">
                                      Reject
                                    </a></button>
                                </td>
                              </tr>

                              {% endfor %}

                            </tbody>

                          </table>

                          {%endif%}
                          {%endif%}

                        </div>

                        <!-- resume section -->
                        <div class="collapse col-md-12" id="resume" style="height: 10rem; overflow-y: scroll;">
                          <div class="container">
                            <img src="{% static 'icons/empty.svg' %}" alt="" style="height: 8rem;">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

{% endblock %}

{% block script %}
<script>
  $(document).ready(function () {

    $(".info_shower").click(function (event) {
      const id = $(this).attr("id").slice(1, );
      const children = $("#display_info").children();
      let id_list = []

      children.each(function (index, child) {
        id_list.push(child["id"])
      })

      id_list.forEach(element => {
        if (id != element) {
          $("#" + element).fadeOut(10)
        } else {
          $("#" + element).fadeIn(300);
        }
      });


      $(".delete_messages").click(function (event) {

        const id = $(this).val()
        $(this).parent().parent().remove();

        // got csrf token
        var token = '{{csrf_token}}';

        request = $.ajax({
          headers: {
            "X-CSRFToken": token
          },
          url: "/code_editor/delete_message/",
          type: "post",
          data: {
            "id": id,
          },
        });

        // Callback handler that will be called on success
        request.done(function (response, textStatus, jqXHR) {
          // rendering another page
          $("#successupload").click();
        });

        // Callback handler that will be called on failure
        request.fail(function (jqXHR, textStatus, errorThrown) {
          // Log the error to the console
          console.error(
            "The following error occurred: " +
            textStatus, errorThrown
          );
        });

        // Callback handler that will be called regardless
        // if the request failed or succeeded
        request.always(function () {
          // Reenable the inputs
          // $("#submit").html("Upload");
          // $("#submit").prop('disabled', false);
        });
      });
    })
  })
</script>
{% endblock %}